{% extends 'post/index.html.twig' %}

{# @var post  \App\Entity\Post #}

{% block posts %}
{% for post in pagination %}
<div class="blog-post">
    <a class="h2 blog-post-title" href="{{ url('post_show', {'slug': post.slug}) }}">{{ post.title }}</a>
    <p class="blog-post-meta">{{ post.createdAt | date('F d, Y') }} by <a href="#">Mark</a></p>
    <p>This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
</div>
{% endfor %}
{% endblock %}
