{% extends 'post/index.html.twig' %}

{# @var pagination \Knp\Component\Pager\Pagination\AbstractPagination #}
{# @var post  \App\Entity\Post #}

{% block posts %}
{% for post in pagination %}
<div class="blog-post">
    <a class="h2 blog-post-title" href="{{ url('post_show', {'slug': post.slug}) }}">{{ post.title }}</a>
    <p class="blog-post-meta">{{ post.createdAt | date('F d, Y') }} by <a href="#">Mark</a></p>
    {{ post.description | raw }}
</div>
{% endfor %}
{% endblock %}
