<p class="blog-post-meta">
    {{ 'Post.Meta' | trans({
        '%date%':
        '<a href="' ~
        url('post_index', app.request.query.all|merge({
            'filter_post[from]': post.createdAt | date('Y-m-d'),
            'filter_post[to]'  : post.createdAt | date('Y-m-d')
        })) ~
        '">' ~ post.createdAt | date('F d, Y') ~ '</a>',
        '%category%':
        '<a href="' ~
        url('post_index', app.request.query.all|merge({
            'filter_post[category]': post.category.id
        })) ~
        '">' ~ post.category.title ~ '</a>'
    }) | raw }}
</p>
